body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: #1e1e1e;
    margin: 0;
    padding: 20px;
    text-align: center;
}

Button:hover {
    background-color: #ff0000;
}

#historiqueInfo{
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

#BetsBigInfo{
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}
#betsInfo{
    background-color: #8a8a8a;
    padding: 10px;
    border-radius: 4px;
}

#JoueursConnexion{
    display: flex;
    border-radius: 4px;
    text-align: left; /* Aligne le texte à gauche */
    align-items: center; /* Alignement vertical */
}


#TopPage{
    display: flex;
    margin-bottom: 10px;
    background-color: #8a8a8a;
    border-radius: 4px;
    text-align: left; /* Aligne le texte à gauche */
    align-items: center; /* Alignement vertical */
}

#ButtonConnexion{
    display: flex;
    border-radius: 4px;
    padding: 10px;
    align-items: center; /* Alignement vertical */
    gap: 10px;
}

#ButtonConnexionContainer {
    display: flex;
    width: 100%; /* Prend toute la largeur disponible */
    border-radius: 4px;
    align-items: center; /* Alignement vertical */
    justify-content: flex-end; /* Aligne les éléments à droite */
}



#PlayerInfo {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
}


/* Style des champs de saisie */
input[type="text"] {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px;
    margin-bottom: 10px; /* Espacement entre les champs */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Partie gauche (sidebar fixe) */
.PageRight {
    width: 240px; /* Largeur de la sidebar */
    background: #ce0000;
    position: fixed; /* Fait en sorte que la sidebar reste fixe */
    top: 20px;
    left: 10px; /* Met la sidebar à gauche */
    height: 100%; /* Hauteur sur toute la page */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour séparation */
    border-radius: 4px;
}

/* Partie droite (contenu principal) */
.PageLeft {
    flex: 1;
    overflow-y: auto; /* Permet le défilement si nécessaire */
    margin-left: 240px; /* Espace à gauche pour la sidebar */
}

/* Style de la sidebar */
.sidebar {
    width: 100%;
}

.sidebar h2 {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.sidebar h2::after {
    content: "";
    display: block;
    width: 50%; /* Ajuste la largeur de la barre */
    height: 4px; /* Épaisseur de la barre */
    background-color: #000; /* Couleur de la barre */
    margin: 5px auto 0; /* Centre la barre sous le texte */
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #ff0000;
}

.SummonerInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #8a8a8a;
    border-radius: 4px;
}

.SummonerResearch {
    display: flex;
    padding: 20px;
    background-color: #8a8a8a;
    border-radius: 4px;
    gap: 2px;
}

.RankedInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #8a8a8a;
    border-radius: 4px;
}

.PartieInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #8a8a8a;
    border-radius: 4px;
}

.ProfileIcon {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

.InfoName {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
    padding: 0 8px;
}

.BoutonActu {
    display: flex;
    padding: 0 4px;
}

.Level {
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 4px;
    color: #FFF;
    background-color: #929292;

    /* Déplacement */
    position: relative;
    top: 30px;  /* Descend de 10px */
    left: -52px; /* Déplace vers la gauche de 5px */
}


.gameName{
    color: #FFF;
}

.tagLine{
    color: #8a8a8a;
}
.HeaderProfileInfo {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.Match_Info {
    display: flex;
    margin-top: 10px;
    text-align: center;
    flex-direction: row; /* Organise les éléments en colonne */
    gap: 2px;
}

.Match_Bets {
    margin-top: 10px;
    text-align: center;
    flex-direction: row; /* Organise les éléments en colonne */
    gap: 2px;
}

/* Animation pour faire bouger le dégradé */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.Button {
    background: #ce0000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.Button2 {
    background: #ce0000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.match-container10 {
    display: flex;
    flex-direction: row;
}

.match-container20 {
    display: flex;
    flex-direction: row;
}

.match-container {
    display: flex;
    border: 2px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-direction: column;
    text-align: left;
}

/* Victoire */
.win {
    background-color: #d4edda;
    color: #155724;
    border-color: #155724;
}

/* Défaite */
.lose {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #721c24;
}

/* Détails du match */
.match-details {
    margin-top: 10px;
}

.match-details summary {
    cursor: pointer;
    font-weight: bold;
}


/* Sous-conteneur des infos */
.match-container2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: auto;
    padding: 5px;
}

/* Mode de jeu */
.match-gamemode {
    font-size: 16px;
    font-weight: bold;
    color: #8a8a8a;
}

/* Indication de victoire/défaite */
.match-victoire {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}



/* Conteneur principal pour les informations du match */
.match-container3 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
    width: auto;
    border-left: 2px solid black; /* Bordure à gauche */
}

.match-container4 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 100%;
}

/* Champion affiché avec son icône */
.match-champion {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icône du champion */
.match-champion img {
    width: 40px;
    height: 40px;
}

/* KDA (Kills / Deaths / Assists) */
.match-kda {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* KDA coloré selon la performance */
.kda-green {
    color: #28a745; /* Vert pour un bon KDA */
    font-weight: bold;
}

.kda-orange {
    color: #fd7e14; /* Orange pour un KDA moyen */
    font-weight: bold;
}

.kda-red {
    color: #dc3545; /* Rouge pour un mauvais KDA */
    font-weight: bold;
}

/* Icônes des sorts d'invocateur */
.match-sumonnericon {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

/* Style des icônes des sorts */
.match-sumonnericon img {
    width: 30px;
    height: 30px;
}

/* Conteneur des objets achetés */
.match-item {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    margin-top: 5px;
}

/* Icônes des objets */
.match-item img {
    width: 32px;
    height: 32px;
}

#joueursTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #8a8a8a;
    color: #ffffff;
}

#joueursTable th, #joueursTable td {
    padding: 10px;
    border-bottom: 1px solid #ff0000;
}


#joueursTable th {
    text-transform: uppercase;
    font-weight: bold;
}

#joueursTable tbody tr:nth-child(even) {
    background-color: #8a8a8a;
}

#joueursTable tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
}


#popupGame {
    position: fixed;
    top: 5%;
    left: 15%;
    width: 70vw;  /* 70% de la largeur de l'écran */
    height: 90vh; /* 70% de la hauteur de l'écran */
    background: rgba(0, 0, 0, 0.8); /* Fond sombre semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Très élevé pour que ce soit au-dessus des autres éléments */
    overflow: hidden; /* Pour éviter que l'on voit du contenu qui dépasse du popup */
    border-radius: 10px;
}

#popupGameContent {
    width: 100%; /* Prendre toute la largeur disponible dans #popupGame */
    height: 100%; /* Prendre toute la hauteur disponible dans #popupGame */
    background: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
    border-radius: 10px;
    overflow-y: auto; /* Permet le scroll si le contenu dépasse */
    position: relative;
    z-index: 10000; /* Assurer que le contenu est au-dessus du fond sombre */
}


#closePopup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#closePopup:hover {
    color: darkred;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
