<div id="PageLeft" class="PageLeft">

    <div id="TopPage" class="TopPage">
        <div id="JoueursConnexion" class="JoueursConnexion">
            <div id="PlayerInfo" class="PlayerInfo">
            </div>
        </div>
        <div id="ButtonConnexionContainer" class="ButtonConnexionContainer">
            <div id="ButtonConnexion" class="ButtonConnexion">
            </div>
        </div>
    </div>



    <div id="SummonerResearch" class="SummonerResearch">
        <div id="RechercheGameInfo" class="RechercheGameInfo">
            <input type="text" id="ResearchgameName" placeholder="Entrez le Game Name">
            <input type="text" id="ResearchtagLine" placeholder="Entrez le Tag (ex: #EUW)">
            <button id="Ajout" onclick="RecherchePartie('BestGameInfo')" class="Button">Trouver une partie</button>
        </div> 
        
        <div id="BestGameInfo" class="BestGameInfo">

        </div>        
    </div>
    <div id="Match_Bets" class="Match_Bets">
        <div id="betsInfo" class="betsInfo" display = "none">
    
            <div id="Bets" class="Bets">
                <input type="text" id="BetsPrice" placeholder="Combien voulez-vous parier ?">
                <button id="BestVictoire" onclick="Bets('Victoire')" class="Button">Victoire</button>
                <button id="BestDefaite" onclick="Bets('Defaite')" class="Button">Defaite</button>
            </div>
        </div>

        <div id="BetsBigInfo" class="BetsBigInfo">
            <h1>Liste des bets</h1>
            <table id="joueursTable">
                <thead>
                    <tr>
                        <th>Parieurs</th>
                        <th>gameId</th>
                        <th>bet_amount</th>
                        <th>bet_teamId</th>
                        <th>bet_status</th>
                        <th>bet_time</th>
                        <th>check_game</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Les joueurs seront insérés ici -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="PageRight" class="PageRight">
    <div class="sidebar" id="mySidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="RiotAPI_Statistique">Accueil</a></li>
            <li><a href="RiotAPI_Masteries">Masteries</a></li>
            <li><a href="RiotAPI_Parties">Partie en cours</a></li>
            <li><a href="RiotAPI_Classement">Classement</a></li>
            <li><a href="RiotAPI_Bets">Bets</a></li>
        </ul>
    </div>
</div>

<div id="popupGame" style="display: none;">
    <div id="popupGameContent">
        <span id="closePopup" onclick="FermerPopupGame()">❌</span>
        <p id="popupGameId"></p>
        <div id="popupGameDetails"></div>
    </div>
</div>

<!-- Popup caché au départ -->
<div id="registerPopup" class="popup">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup('registerPopup')">&times;</span>
        <form id="registerForm">
            <input type="text" id="gameNameRegister" placeholder="GameName" class="gameNameRegister">
            <input type="text" id="tagLineRegister" placeholder="TagLine" class="tagLineRegister">
            <input type="text" id="PasswordRegister" placeholder="Password" class="PasswordRegister">
            <button type="button" onclick="AjoutJoueurs2(document.getElementById('gameNameRegister').value, document.getElementById('tagLineRegister').value, document.getElementById('PasswordRegister').value)">
                Sign up
            </button>
        </form>
    </div>
</div>

<!-- Popup caché au départ -->
<div id="connexionPopup" class="popup">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup('connexionPopup')">&times;</span>
        <form id="registerForm">
            <input type="text" id="gameNameConnexion" placeholder="GameName">
            <input type="text" id="tagLineConnexion" placeholder="TagLine">
            <input type="text" id="PasswordConnexion" placeholder="Password" class="PasswordConnexion">
            <button type="button" onclick="ConnexionJoueurs(document.getElementById('gameNameConnexion').value, document.getElementById('tagLineConnexion').value, document.getElementById('PasswordConnexion').value)">
                Connexion
            </button>
        </form>
    </div>
</div>